/* Global komands */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

*{
    font-family: 'Jaldi', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    
    text-decoration: none;
    text-transform: capitalize;
    /* transition: all .2s linear; */
    line-height: 1.5;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    color: #ddd;
    overflow-x: hidden;
    
    
}

:root{
    --main-color: #f77f00;
}
html{
    font-size: 80%;
    background-color: #000000;
    
}


section{
    padding-top: 10px;
    padding-bottom: 20px;
}

main{
    padding: 20px;
}

h2, h3{
    padding-top: 30px;
    padding-bottom: 30px;
}

p{
    padding-bottom: 70px;
}

/* Nanbar */

#nav{
    position: fixed;
    background-color: #000000;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    

    
    
    
}

#nav li{
    float: left;
    display: block;
    display: flex;
    
    
}

li:hover{
    background-color: #2d2d2d;
}
li a:hover{
    color: #f77f00;
}

#nav li a{
    padding: 10px 20px;
    font-size: 130%;
    
}






/* Profilbild */

.mike-bild-box{
   width: 300px;
   height: auto;
   background: linear-gradient(0deg, rgba(18,69,69,1) 0%, rgba(255,255,255,1) 100%);
   display:flex;
   justify-content: center;
}
.mike-bild{
    height: 300px;
    width: auto;
    margin-right: -7px;
    filter: brightness(0.8);
    
    
}

figure.bild{
width: 150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
overflow: hidden;
}
.bild-namn{
    display: flex;
    justify-content: center;
    padding-top: 130px;
    flex-wrap: wrap;
   
    
    
    
    
}
    
.namn{
    padding-left: 10px;
    padding-top: 25px;

}

.nyfärg{
    color: #f77f00;
}

/* Linje */

.hr-topp{
    width: 80%;
    
    border-color: #2d2d2d;
    width: 70%;
    margin: auto;
}



/* Videos */
video{
    width: 100vw;
    height: 200px;
    
}
iframe{
    width: 90vw;
    height: 200px; 
}

.karl, .moto {
    height: 60%;
    width: 100vw;


}

/* Table Låtar */

#latlista{
    width: 90vw;
    border: 10px solid #6F3325;
}

#latlista th{
    padding: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #544a48;
}
#latlista tr:nth-child(even){
    background-color: #000000;
}

#latlista td, #latlista tr{
    border: 1px solid #000000;
    padding: 8px;
}

#latlista tr:hover {
    background-color: #6F3325;
}

/* Table */


label, form {
    display: block;
    
    
    
    
}

form>input, textarea{
    width: 100vw;
    
}

form input{
    color: #000000;

}
form label{
    font-size: 140%;
    padding-top: 20px;
}

button{
    background: #890808;
    border: none;
    padding: 15px;
    font-size: 150%;
    border-radius: 20%;
    margin-top: 20px;
    align-items: center;
    display: block;
    
}

button:hover{
    color: var(--main-color);
    background-color: #2d2d2d;
    
}

/* Footer */

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

#phone-size{
    padding: 20px;
    font-size: 6vh;
}
#mail-size{
    padding: 20px;
    font-size: 6vh;
}






/* Desktoplayout*/

@media (min-width:391px) {
    
   *{
    font-size: 103%;
   }
    
    #nav{
        width: 20vw;
        height: 100vh;
        text-align: center;
    }

    .nav{
        margin-top: 10vh;
    }
    #nav ul.nav{
        flex-direction: row;
        
        
        
    }
    #nav li {
        float: none;
        margin-top: 20px; 
      } 

    .hr-side{
        height: 80%;
        margin-top: 10vh;
        width: auto;
        border-color: #2d2d2d;
        
    }
      


    main{
        flex: 1;
        margin-left: 20vw;
        margin-right: 3vw;
    }
  
    .bild-namn {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding-top: 60px; 
    }

    .namn {
        padding-top: 10px; /* Lägg till lite mellanrum mellan bilden och namnet */
    }

    /* Video */

    video{
    width: 450px;
    height: 50%;
    
    }

    iframe{
        width: 160%;
        height: 325px;
    }

    .videos-container{
        
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        flex-wrap: wrap;
       
        
    }
    div.videos-container h3 {
        display: block;
        width: 100%;
        align-items: center;
    }

    .videos-container div{
       
        height: 500px;
        overflow: hidden;
    }

    .karl, .moto{
       height: 60%;
       width: 80%;
    }


    .musik-video-container{
        display: flex;
        justify-content: center;
    }

    /* Latlista */

    #latlista{
        width: 70%;
        
    }

    .latlista-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }



    /* Form */

    .table-pos{
        width: 70%;
        
    }

    .form-container{
        display: flex;
        justify-content: center;
    }

    /* Footer */

    .container-footer{
        width: 80vw;
        margin-left: auto;
        display: flex;
        justify-content: center;
        
    }

    #phone-size, #mail-size{
        font-size: 7vw;
        
    }



    
    




    }






